
<div class="container pt-4" *ngIf="resultados$ | async as resultados">
  <div class="row">
    <ng-container *ngFor="let candidato of resultados.cand">
    <div class="col-md-4 mt-4">
        <app-candidato-card [candidato]="candidato"></app-candidato-card>
      </div>
    </ng-container>
  </div>
  <div class="row mt-5">
    <mat-progress-bar class="my-4" mode="determinate" [value]="porcentagemTotal"></mat-progress-bar>
    <div class="col-md-3">
      <p class="text-primary">Horário da última parcial:</p>
      <p>{{resultados?.hg}}</p>
    </div>
    <div class="col-md-3">
      <p class="text-primary">Urnas apuradas:</p>
      <p>{{resultados?.si | number: '1.0-0'}}</p>
    </div>
    <div class="col-md-3">
      <p class="text-primary">Porcentagem urnas apuradas:</p>
      <p>{{resultados?.psi}}%</p>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <button mat-flat-button color="primary" class="d-block mt-5" (click)="refresh()">Atualizar</button>
  </div>
</div>


